# Debian global mirror CDN
deb     http://deb.debian.org/debian/ {{ ansible_distribution_release }} main non-free contrib
deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release }} main non-free contrib

# {{ ansible_distribution_release }} backports
deb http://deb.debian.org/debian/ {{ ansible_distribution_release }}-backports main non-free contrib
deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release }}-backports main non-free contrib

